@font-face {
    font-family: 'inter';
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(font/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'poppins';
    src: url(font/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'poppins';
    src: url(font/Poppins-Bold.ttf);
    font-weight: 700;
}



:root {
    --primary-color: #013456;
    --accent-color: #fad405;

}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
    max-width: 1231px;
    margin: 0 auto;
    font-family: 'inter';

}

.header_title{
    margin: 0;
    display: flex;
    align-items: center;
}

.header span {
    font-weight: 700px;
    font-size: 40px;
    margin-right: 10px;
    color: var(--primary-color);
}

.header .fa-book{
    color: var(--accent-color);
}

.header .menu-icon,
.header .close-icon {
    display: none;
}

.header_navigation {
    display: flex;
    align-items: center;
    height: 52px;
    margin-right: 10px;
}


.header_navigation a {
    text-decoration: none;
     margin-left: 29px;
    font-size: 36px;
    color: var(--primary-color);

}

.wrapper {
    display: flex;
}

.wrapper aside {
    width: 50%;
    margin-top: 46px;
    position: relative;
}

.book_circle {
    width: 600px;
    height: 600px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    height: 785px;
    margin-bottom: 55px;
}

main{
    width: 50%;
    margin-top: 91px;
    max-width: 571px;
   
}

main h1{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700px;
    font-family: "poppins";
    margin-top: 0;
    margin-bottom: 14px;
}

main p {
    font-size: 20px;
    font-family: "poppins";
    font-weight: 200px;
    margin-bottom: 50px;


}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border: none;
    border-radius: 50px;
    padding: 16px 47px;
}

.buttons_buy-now {
    background-color: var(--accent-color);
    font-size: 32px;
    font-family: 'poppins';
    font-weight: 700px;
    color: var(--primary-color);


}

    
.buttons_read-more{
    background-color: var(--primary-color);
    font-size: 32px;
    font-family: 'poppins';
    font-weight: 700px;
    color: white;
}
@media screen and (max-width:1400px) {
    .header {
        width: 90%;
        padding-top: 20px;
    }
    .header_navigation {
        position: absolute;
        background-color: var(--primary-color);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .header_navigation a {
        color: var(--accent-color);
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .header .menu-icon {
        display: block;
        font-size: 30px;
        color: var(--primary-color);
        line-height: 45px;
        cursor: pointer;
    }
    
    .header .close-icon {
        display: none;
        z-index: 1;
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--accent-color);
        cursor: pointer;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .wrapper main,
    .wrapper aside {
        width: 90px;
        max-width: 100%;
        margin-top: 20px;
    }
    .book_circle img {
        max-width: 200px;
    }

    .book_circle {
        position: initial;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .book {
        height: 200px;
        margin-bottom: 0;

    }
    main h1 {
        font-size: 24px;
    }
 main p {
    font-size: 16px;
 }
 .buttons button {
    padding: 16px 25px;
    
    
 }
}

